.footer {
  padding: 4.75rem 0 2.375rem 0;

  .footer-wrap {
    display: flex;
    justify-content: space-between;
    gap: 5.625rem;
  }
  .footer-info {
    flex: 2;
  }
  .logo__img {
    @include heading(2rem, 500);
    color: $primary-color;
  }
  .footer-info__description {
    @include text($paragraph-text, 400, $heading-color);
    margin: 2.625rem 0;
  }
  .footer-info__social {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    i {
      font-size: 1.25rem;
      color: $heading-color;
      transition: all 0.3s ease-out;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
  }
  .footer-info-link {
    flex: 1;
  }
  .footer-info-link__heading,
  .footer-info-mail__heading {
    @include heading($heading04, 500);
    margin-bottom: 2.5rem;
  }
  .footer-info-mail {
    flex: 2;
  }
  .footer-info-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-info-list__items a {
    @include text($paragraph-text, 400, $heading-color);
    transition: color 0.2s ease-out;

    &:hover {
      color: $primary-color;
    }
  }
  .footer-info-mail__description {
    @include text($paragraph-text, 400, $paragraph-color);
    margin-bottom: 2.3125rem;
  }
  .footer-form-wrap {
    display: flex;
    gap: 0.9375rem;
  }
  input[type='email'] {
    @include text(0.875rem, 400, $paragraph-color);
    background-color: #f0f1ec;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;

    &:focus {
      outline: 2px solid $primary-color;
    }
  }
  button[type='submit'] {
    @include text(0.875rem, 500, #fff);
    background-color: $primary-color;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
  }
  .footer-copy-right-text {
    @include text($paragraph-text, 400, $paragraph-color);
    margin-top: 5.625rem;
    text-align: center;
  }

  //Media Query
  @media all and (max-width: 769px) {
    & {
      padding: 4rem 1.25rem 1.25rem 1.25rem;
    }
    .footer-wrap {
      flex-direction: column;
    }
    .logo__img {
      text-align: center;
    }
    .footer-info__description {
      text-align: center;
      margin: 1.875rem 0;
    }
    .footer-info__social {
      justify-content: center;
    }
    .footer-info-link__heading,
    .footer-info-mail__heading {
      text-align: center;
    }
    .footer-info-list {
      align-items: center;
    }
    .footer-info-mail__description {
      text-align: center;
    }
    .footer-form-wrap {
      flex-direction: column;
    }
    .footer-copy-right-text {
      margin-top: 3.75rem;
    }
  }
}
