.hero {
  background-color: #f3fcf7;
  padding: 9.375rem 0 0 0;
  margin-top: -6.75rem;

  .hero-wrap {
    display: flex;
    justify-content: space-between;
    gap: 7.5rem;
  }
  .hero-info,
  .hero-img {
    flex: 1;
    position: relative;
  }
  .hero-info {
    margin-top: 3rem;
  }
  .hero-info__heading {
    @include heading($heading01, 600);
  }
  .hero-info__description {
    @include text($paragraph-text, 400, $paragraph-color);
    margin: 0.6875rem 0 1.875rem 0;
  }
  .hero-main-img {
    width: 100%;
    max-width: 29.25rem;
  }
  .hero-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 10.875rem;
  }
  .rating-absolute {
    background-color: #fff;
    padding: 1rem 1.125rem;
    border-radius: 6.1875rem;
    max-width: 14.375rem;

    display: flex;
    align-items: center;
    gap: 0.9375rem;
    position: absolute;
    top: 50%;
    left: -5.3125rem;
  }
  .rating-text {
    @include text(0.9375rem, 500, $heading-color);
  }
  .fa-star {
    font-size: 14px;
    color: $primary-color;
  }
  .product-absolute {
    background-color: #fff;
    padding: 6px 16px 6px 6px;
    border-radius: 6.1875rem;
    max-width: 14.375rem;

    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 30%;
    right: 0;
  }
  .product-absolute__img {
    width: 40px;
    height: 40px;
  }
  .product-absolute__text {
    @include text(0.9375rem, 500, $heading-color);
  }

  //Media Query
  @media all and (max-width: 679px) {
    padding: 9.375rem 1.25rem 0 1.25rem;
    .hero-wrap {
      flex-direction: column;
      gap: 2.9375rem;
    }
    .hero-info {
      margin-top: 0;
    }
    .hero-info__heading {
      font-size: 3.1875rem;
      text-align: center;
    }
    .hero-info__description {
      margin-top: 1.5625rem 0 3.3125rem 0;
      text-align: center;
    }
    .hero-info__button {
      display: block;
      text-align: center;
    }
    .rating-absolute {
      top: 76%;
      left: 12%;
      filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.1));
      z-index: 1;
    }
    .product-absolute {
      top: 90%;
      left: 12%;
      filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.1));
      z-index: 1;
    }
  }
}
